services:

  # MySQL Database
  db:
    build: ./db-setup
    container_name: bb-db
    restart: unless-stopped
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      TZ: America/Chicago
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

      # SQL initialization files
      - ./db-setup/tbb-schema.sql:/docker-entrypoint-initdb.d/01-schema.sql:ro
      - ./db-setup/triggers.sql:/docker-entrypoint-initdb.d/02-triggers.sql:ro
      - ./db-setup/procedures.sql:/docker-entrypoint-initdb.d/03-procedures.sql:ro
      - ./db-setup/events.sql:/docker-entrypoint-initdb.d/04-events.sql:ro
      - ./db-setup/sample.sql:/docker-entrypoint-initdb.d/05-sample.sql:ro
    networks:
     - internal

  
  # Backend API 
  api:
    build: ./api # Looks for Dockerfile in this directory
    container_name: bb-api
    restart: unless-stopped
    ports:
      - "5000:5000" # Maps localhost 5000 to container port 5000 
    env_file: .env
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - db 
    networks:
      - internal
    volumes:
    - ./api:/app # Binded the local api directory to the container's app directory
                 # This allows local changes to be refreshed in the container in real time 


volumes:
  dbdata:


networks:
  internal:
    name: app-network
    driver: bridge